div {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 15px;
    border: 2px solid black;
    border-radius: 20px;
}

.box1 {
    box-shadow: 2px -2px 5px 0 black;
}

.box2 {
    box-shadow: 5px 5px 15px 5px gray;
}