.txt1 {
    font: 15px/20px 돋움 italic bold;
}

.txt2 {
    font: 30px/40px 굴림 200 small-caps;
}

.cap {
    font: caption;
}

.icon {
    font: icon;
}

.menu {
    font: menu;
}

.scap {
    font: small-caption;
}

.stbar {
    font: status-bar;
}

.mbox {
    font: message-box;
}