div {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 20px;
    transition-property: all;
    transition-duration: 3s;
}

.box1 {
    transition-timing-function: ease;
}

.box2 {
    transition-timing-function: linear;
}

.box3 {
    transition-timing-function: ease-in;
}

.box4 {
    transition-timing-function: ease-out;
}

.box5 {
    transition-timing-function: ease-in-out;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover {
    background-color: yellow;
    border-radius: 50%;
}